.Weather {
  font-family: "Nunito", sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 8px;
  color: rgb(135, 135, 135);
  background: rgba(196, 195, 195, 0.15);
}
.Weather header {
  font-size: 0.7em;
  color: #000000;
}
.Weather h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 3.2em;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

input.form-control, input.btn{
  font-size: 0.8em;
}

button.current-location-button {
  background-color: rgb(161, 161, 161);
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 0.85em;
  padding-left: 10px;
  padding-right: 10px;
  transition: ease-in-out 200ms all;
}
button.current-location-button:hover {
  background-color: #cf8e55;
  font-size: 0.82em;
  padding: 6.5px 11px;
}
div.units {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0.4px solid rgb(189, 188, 188);
  border-radius: 16px;
  width: 15%;
}
#celsius,
#farenheit {
  text-decoration: none;
  border: none;
  padding: 0 0.3em;
  background: rgba(196, 195, 195, 0.02);
  transition: ease-in-out 200ms all;
}
#celsius:hover,
#farenheit:hover {
  font-size: 0.78em;
  color: blue;
}

.conditions {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.4);
  font-size: 0.7em;
  width: 100%;
  padding: 1em;
  margin: 2em 1em 1em 0.2em;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.humidity,
.wind-speed,
.pressure {
  flex-grow: 1;
  padding: 0.2em;
  margin: 0.3em;
  font-size: 1.02em;
  line-height: 1.5em;
  text-align: center;
}

